@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #1D9E75;
}

body {
    @apply bg-dark text-gray-200;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-darker rounded;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary rounded;
}

/* Animations */
@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

.animate-pulse-slow {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}